*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
}
/*Les images de fond des differentes pages*/
header#page1{
    background-image: url("Images/Bora-Bora\ imageFond\ \(1\).jpg");
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat ;
    height: 100vh;
}
header#page2{
    background-image: url("Images/N-C\ imageFond.jpg");
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat ;
    height: 100vh;
}
header#page3{
    background-image: url("Images/Palm\ J\ imageFond.jpg");
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat ;
    height: 100vh;
}
header#page4{
    background-image: url("Images/Golden-G\ imageFond2.jpg");
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat ;
    height: 100vh;
}
header#page5{
    background-image: url("Images/Vénise\ imageFond.jpg");
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat ;
    height: 100vh;
}
/*Menu des pages*/
ul{
    list-style-type: none;
}
li a{
    text-decoration: none;
    color: white;
}
nav{
    min-height: 10vh;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 2rem;
}
nav ul{
    display: flex;
    flex:50%;
    justify-content:space-around;
    align-items: center;
}
iframe{
    display: block;
    margin: auto;
}
p,div,h1,img{
    padding-top: 10px;

}
p{
    text-align: center;

}
img{
    display: block;
    margin-left:auto ;
    margin-right: auto;

}
.images{
    display: flex;
    animation-duration: 10s;
    animation-name: mesimages;
    -o-animation-iteration-count: infinite;
}
#images{
    overflow: hidden;
    width: 1591px;
}
@keyframes mesimages{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-400px);
    }
    50%{
        transform: translateX(-800px);
    }
    75%{
        transform: translateX(-1600px);
    }
    100%{
        transform: translateX(0);
    }

}



* {
    box-sizing: inherit;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


.buttons {
    display: inline-block;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.container-b {
    align-items: center;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    text-align: center;

}

a {
    background: rgba(255, 255, 255, 0);
    /*border-bottom: 1px solid;*/
    border-width: 0;
    color: white;
    line-height: 1.4;
    padding: .75em;
    text-decoration: none;
}
a:hover {
    background: rgba(255, 255, 255, 0);
    color: #dfdfdf;
}


.btn {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    /*margin: 0 0 2em;*/
    margin: 1em;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}
.btn:hover { text-decoration: none; }

.btn-1 {
    /*background: rgba(255, 0, 0, 1.5);*/
    font-weight: 100;
}
.btn-1 svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.btn-1 rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
}


.btn-1:hover {
    /*background: rgba($ red, 0);*/
    font-weight: 900;
    letter-spacing: 1px;
}
.btn-1:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

/*BOUTONS*/

.logo
{
    margin-top: 160px;
    margin-right: 120px;
    text-align: right;
    font-family: Castellar;
    font-size: 50px;
    color: white;
}


.container {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 100vh;
}

.box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
}

.box > img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover;
    transition: .5s;
}

.box > span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
}

.box:hover { flex: 1 1 50%; }
.box:hover > img {
    width: 100%;
    height: 100%;
}

.tableArticle
{
    font-family: "Century Gothic";
    width: 90%;
    margin-left: 5%;
}
